{{>header}}
    <div class="row">
        <div class="col-md-3 col-sm-4 hidden-xs">
            <ul class="nav nav-list nav-list-vivid">
                <li class="nav-header">Classes &amp; Modules</li>
                {{#each supportedClasses}}
                    {{#equal ../module.className this}}
                        <li class="active"><a href="/documentation/{{this}}">{{this}}</a></li>
                    {{else}}
                        <li><a href="/documentation/{{this}}">{{this}}</a></li>
                    {{/equal}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
            <h3>{{module.className}} Class</h3>
            <p>
                {{{parseMarkdown module.summary}}}
            </p>

            <h4>Inheritance Hierarchy</h4>
            <ul>
                {{#each module.inheritanceHierarchy}}
                    {{#if this.isEndPoint}}
                        <li>{{this.name}}</li>
                    {{else}}
                        <li><a href="/documentation/{{this.name}}">{{this.name}}</a></li>
                    {{/if}}
                {{/each}}
            </ul>
            
            {{#if module.properties}}
                <h4>Properties</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each module.properties}}
                            <tr>
                                <td><a href="/documentation/{{../module.className}}/properties/{{this.name}}">{{this.name}}</a></td>
                                <td>{{{parseMarkdown this.description}}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/if}}

            <h4>Methods</h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each module.methods}}
                        <tr>
                            <td><a href="/documentation/{{../module.className}}/methods/{{this.name}}">{{this.name}}</a></td>
                            <td>{{{parseMarkdown this.description}}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            {{#if module.remarks}}
                <h4>Remarks</h4>
                {{#each module.remarks}}
                    <p>
                        {{{parseMarkdown this}}}
                    </p>
                {{/each}}
            {{/if}}
            
            <h4>Supported Platforms</h4>
            <p>
                {{module.platforms.names}}
            </p>
            <p>
                {{{parseMarkdown module.platforms.notes}}}
            </p>
        </div>
    </div>
{{>footer}}
