{{>header}}
    <div class="row">
        <div class="col-md-12">
            <p class="lead centered">
                Got a question you think should appear here? <a href="https://github.com/rastating/pixel.js/issues" target="_blank">Let us know on GitHub</a>!
            </p>
        </div>
    </div>
    <div class="row features">
        <div class="col-md-4">
            <h3>Is Pixel.js still in beta?</h3>
            <p>
                Yes, it is! And as such, you should use only the documented features were possible to ensure your existing games retain compatibility with future versions.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Are there any plans to add 3D support in the future?</h3>
            <p>
                At this moment in time the focus of Pixel.js is purely 2D game development and there are no plans for 3D support.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Which image formats are supported?</h3>
            <p>
                The image formats supported by the built in assets are determined by the executing browser as opposed to the engine itself. <a href="http://en.wikipedia.org/wiki/Comparison_of_web_browsers#Image_format_support" target="_blank">Click Here</a> to see a comparison of image format support across various browsers.
            </p>
        </div>
        
        <div class="col-md-4">
            <h3>Should I use transparency keys or create transparent sprites?</h3>
            <p>
                Transparency keys are supported in Pixel.js, however it is recommended you create any required transparency in your sprites themselves and export as a PNG file to decrease loading times.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Which audio formats are supported?</h3>
            <p>
                The supported audio formats, much like the supported image formats, are determined by the executing browser. <a href="https://developer.mozilla.org/en-US/docs/HTML/Supported_media_formats?redirectlocale=en-US&redirectslug=Media_formats_supported_by_the_audio_and_video_elements#Browser_compatibility" target="_blank">Click Here</a> to see a complete list of the audio formats supported by various browsers.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Can I use Pixel.js in commercial games?</h3>
            <p>
                Yes! You are free to use Pixel.js in commercial products. No attribution to Pixel.js is required, however it would be much appreciated if the word was spread.
            </p>
        </div>
    </div>

{{>footer}}