{{>header}}

    <div class="row">
        <div class="col-md-12">
            <p class="lead centered">Why use Pixel.js? Here are a few reasons...</p>
        </div>
    </div>
    <div class="row features">
        <div class="col-md-4">
            <h3><i class="fa fa-random"></i> Cross Platform</h3>
            <p>Add support for IE9+, FireFox, Chrome and Safari with a single code base without worrying about platform specific gotchas.</p>
        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-fullscreen"></i> Extensible</h3>
            <p>Add your own game components and media assets with ease by utilising Pixel.js' extremely simple inheritance model.</p>
        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-code"></i> Simple</h3>
            <p>A simple API and object model that will be familiar to experienced developers and newcomers alike.</p>
        </div>
    </div>
    <div class="row features">
        <div class="col-md-4">
            <h3><i class="fa fa-tachometer"></i> Optimisation</h3>
            <p>Pixel.js implements a number of optimisations out of the box for you; allowing you to spend more time getting creative.</p>
        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-heart"></i> Free, as in Speech</h3>
            <p>There are no charges for commercial use and no restrictions in how you utilise Pixel.js! See <a href="http://www.gnu.org/licenses/gpl-faq.html" target="_blank">this page</a> for more details.</p>
        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-gamepad"></i> Built-in Components</h3>
            <p>To help you get started, a number of built in assets and components are available for you to utilise and extend upon.</p>
        </div>
    </div>

{{>footer}}
